/* General */

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}



body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
/* Logo */

.header-logo-container{
  display: flex;
height: 56px;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 16px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-accent {
  color: #2e2f42;
}

/*burger-menu*/
nav, address{
    display: none;

}

@media screen and (min-width: 768px) {
  nav, address{
    display: flex;
    
  }


  .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }


  .nav-list{
    display: flex;
    gap: 40px;
    
    
  }

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}


address{

  font-style: normal;
  padding-bottom: 24px;
  padding-top: 24px;
  padding-right: 16px;
}

.address-list,
.nav-list {
  list-style: none;
  margin: 0;
}
.address-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

}

@media screen and (min-width: 1158px) {

.header-container{
  display: flex;
  justify-content: start;
  gap: 48px;
  
}

.header-logo-container{
margin-left: 120px;
margi
}
nav{
  
}

address{
  margin-right: 120px;
 
 
}

  .address-list{
    display: flex;
    flex-direction: row;
    gap: 48px;
  }
}
/*section1*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/background-office.jpg);
  width: 100%;
}


.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #ffffff;
  letter-spacing: 0.02em;
  margin-top: 64px;
  max-width: 200px;
  

}

.hero-button {
  
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 76px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  min-height: 56px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-title{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    max-width: 100%;
  }
  
  .hero-button{
    display: block;
  }
}

@media screen and (min-width: 1158px) {
  
}

/*section 2*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.power-container{
    
    text-align: left;
    align-items: center;
    margin-bottom: 96px;
    
}

.power-title{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 24px;
  margin-top: 96px;
  
  
}


.icon-container{
  display: none;
}

@media screen and (min-width: 768px) {
  .icon-container{
  }
  .power-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    
    
    
  }

 .power-item{
  width: 100%;
  flex-basis: calc((100% - 24px) / 2);
  
 
 }
.power-title{
  text-align: left;
}

.power-text{
  white-space: pre-line;
  text-align: left;
}

}

@media screen and (min-width: 1158px) {
  .icon-container{
    display: contents;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }


  .power-item {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}
.power-container{
  display: flex;
  flex-direction: row;
}
}

.power-list{
 
justify-items: center;
}


  

.power-text {
  
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  min-width: 300px;
  
}

/*section3*/

.team {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}
/*
.team-container{
  width: 264px;
}
  */
.team-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  padding-bottom: 24px;
  text-align: center;
}

.team-item {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-item {
    flex-basis: calc((100% - 24px) / 2);

  }

.team-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.team {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  adding-left: 110px;
  adding-right: 110px;
}
.team-item-title{
  width: 264px;
  text-align: center;
}

}

@media screen and (min-width: 1158px) {
  .team-item {
  
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);

  }

.team{
  

}

}

.team-list {
  list-style: none;
  margin-bottom: 24px;
 
  
}



.team-item-title{
 font-size: 20px;
  font-weight: 500;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 8px;
  text-align: center;

}

.team-text{
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-icon-list{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 8px;
}

.team-icon-link{
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus{
  background-color: #404bbf;
}

.team-icon,
.icon{
  fill: var(--overlay-text-color);
}



/* Section 4: Portfolio */
.portfolio {
  background-color: #ffffff;
  
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  margin-top: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  
  
  
}

@media screen and (min-width: 768px) {
  .portfolio-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item{
  flex-basis: calc((100% - 24px) / 2);
  verflow: hidden;
  argin: 0;
  
}
.portfolio-item-container{
  width: 360px;
}

.portfolio-item-title{
text-align: left;
}
.portfolio-item-text
}

@media screen and (min-width: 1158px) {
  .portfolio-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  column-gap: 24px;
  row-gap: 48px;
  
}
.portfolio-item{
  flex-basis: calc((100% - 48px) / 3);
}
}



.portfolio-item{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  overflow: hidden;
margin-bottom: 24px;
transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.portfolio-item:hover,
.portfolio-item:focus{
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-item-container{
  
  padding: 16px 8px;
  border: none;
  border-bottom: 1px solid #e7e9fc;
margin: 0;
width: 360px;
  
}

.image-wrapper{
  position: relative;
  overflow: hidden;
}

li:hover .image-wrapper p{
  transform: translateY(0%);
}
:root{
  --overlay-text-color: #f4f4fd;
}
.portfolio-overlay-text{
  position: absolute;
  top: 0;
  width: 100%;
  height:100%;
  background-color:#4d5ae5;
  transform: translateY(100%);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--overlay-text-color);
  padding: 40px 32px;
  transform: translateY(100%);
  transition-property:transform ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}




/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {

}

.footer-list{
display: block;

}
footer-item{
  margin-bottom: 48px;
  
}



@media screen and (min-width: 768px) {
  .footer-container{
    margin-left: 120px;
    margin-right: 120px;
  
}
.footer-list{
  display: flex;
  flex-wrap: wrap;
  ustify-content: space-between;
  align-items: center;
  justify-content: center;
  

    
}

.footer-item{
  width: calc((100% - 48px) / 2);
  margin-bottom: 60px;
  
}

.footer-text{
  text-align: left;
}

.form-text{
  display: flex;
  text-align: left;
  
}
.footer-form-button{

}
.footer-form-button-container{
  
  argin-top: 54px;
}

.footer-form{

}

.footer-icon-text{
  
}
}

@media screen and (min-width: 1158px) {
  .footer-container{
  display: flex;
  align-items: baseline;
}
.footer-list{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
}

.logo-container {
  
}
.footer-logo , .logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  
}



.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  white-space: pre-line;
  
}


.footer-icon-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-icon-item{
  width: 40px;
  height: 40px;
}
:root {
  --bg-color: #4d5ae5;
}
.footer-icon-link{
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.footer-icon-link:hover,
.footer-icon-link:focus{
  background-color: #31d0aa;
}
:root {
  --footer-text-color: #ffffff;
}
.footer-icon-text{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  margin-bottom: 16px;
}



.social-container{
  argin-left: auto;
  argin-top: 48px;
}


.form-container{
  argin-top: 48px;
}

.form-text{
  text-align: center;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form{
  isplay: flex;
  justify-content: center;
  align-items: center;
  lex-direction: column;
}

.footer-form-input{
  
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}



.footer-form-input::placeholder{
  color: #ffffff;
}

.footer-form-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form-button{
  
  min-width: 165px;
  height: 40px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16x;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-top: 24px;
  
}



.button-icon{
  margin-left: 16px;
  fill: #ffffff;
}




         /* modal */

.modal-container{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button:hover,
.modal-button:focus{
  background-color: #404bbf;
  border: none;

}

.modal-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:focus .modal-icon,
.modal-button:hover .modal-icon{
  fill: #ffffff;
}

:root{
  --modal-text-color: #2e2f42;
}

.modal-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--modal-text-color);
  margin-bottom: 16px;

}

.modal-form-container{
  margin-bottom: 8px;

}
:root{
  --label-text-color: #8e8f99;
}
.modal-form-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-text-color);
  display: block;
  margin-bottom: 4px;

}

.modal-input-container{
  position: relative;
}

.modal-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
  border-color: #4d5ae5;
}

.modal-input-icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-input:focus + .input-icon{
fill: #4d5ae5;
}

.form-container-comment{
  margin-bottom: 16px;

}

.modal-comment-textarea{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus{
  border-color: #4d5ae5;
}

.form-container-checkbox{
  margin-bottom: 24px;
}

.checkbox-label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--label-text-color);
}

.privacy-span{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 4px;
}

:root{
  --background-color: #404bbf;
  --icon-color: #F4F4FD;
}

.checkbox-input[type="checkbox"]:checked + .label-checkbox .privacy-span{
  background-color: var(--background-color);
  border: none;
  fill: var(--icon-color);
}

:root{
  --link-color: #4d5ae5;
}

.privacy-link{
  color: var(--link-color);
}

.modal-send-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}